.boleta-container{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 180px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
    cursor: pointer;
    gap: 20px;
    user-select: none;

    && IMG {
        width: 100%;
        border-radius: inherit;
    }
}

.votoPresionado{
    animation: reducirvoto .05s;
}

@keyframes reducirvoto {
    0%{transform: scale(1);}
    100%{transform: scale(.85);}
}
